<section class="cart-empty">
  <div class="alert alert-info" role="alert">
  Your cart is empty. Choose your favorite products at <span><strong><%= link_to "Home page", root_path%><strong></span>.
  </div>
</section>